/* global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.heading {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

form {
  width: 397.25px !important;
  margin-bottom: 1.5em;
}

.ms-Label::after {
  display: inline-block;
  padding-left: 1.5px;
}

.submit {
  margin-top: 1em;
  width: 100% !important;
}

.book table {
  margin-top: 1em;
}

.book th,
.book td {
  padding: 0.25em;
}

.book th {
  text-align: left;
}

.list {
  width: 480px;
  scrollbar-color: transparent transparent;
}

.list::-webkit-scrollbar {
  display: none;
}

.list::-moz-scrollbar {
  display: none;
}

/* components/App.js */

.body {
  display: grid;
  grid-template-columns: 240px auto;
}

.navigation {
  width: 240px !important;
  height: calc(100vh - 48px);
  background-color: rgb(237, 235, 233) !important;
  grid-template-columns: repeat(2, fr);
}

.body .router {
  height: calc(100vh - 48px);
  overflow-y: scroll;
}

/* components/Navbar.js */

.navbar {
  height: 48px;
  background-color: black;
}

.navbar .container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 48px;
}

.navbar .navbar-heading h1 {
  font-family: Segoe UI Semibold;
  font-size: 16px !important;
  font-weight: 600;
  color: white;
  display: inline-block;
  margin: 12px 0 0 0.75em;
}

.navbar .navbar-logo img {
  height: 24px;
  margin: 12px 0 0 0.75em;
}

.navbar ul {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
}

.navbar .menu {
  padding: 0 0.5em 0 0.5em;
}

.navbar .menu:hover {
  cursor: pointer;
  background-color: #0078d4;
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.navbar .menu .active {
  background-color: white;
}

.ms-Callout.ms-ContextualMenu-Callout {
  right: 0px !important;
}

/* components/Navigation.js */

.is-selected a {
  background-color: rgb(220, 236, 249) !important;
  color: #0078d4 !important;
}

div[name='Úvod'] a,
div[name='Administrace'] a {
  padding: 0 0 0 0.5em;
}

/* pages/404.js */

._404 {
  margin: 1em 0 0 2em;
}

/* pages/knihovna/Catalog.js */

.catalog .ms-FocusZone > div {
  max-height: calc(100vh - 29px - 32px - 4em - 35.2px - 48px - 5em) !important;
}

.catalog .list {
  width: 100%;
}

.catalog .search {
  margin-bottom: 0.5em;
  width: 480px;
}

.catalog .container,
.loans .container,
.index .container,
.projections .container {
  margin-left: 2em;
}

/* pages/knihovna/Loans.js */

.borrowed .heading,
.borrowed .list {
  margin: 1em;
  margin-left: 2em;
}

/* pages/knihovna/index */

.manage .heading,
.manage.form.container {
  margin-bottom: 0.25em;
}

.manage.form.container {
  margin-left: 2em;
}

.manage .nav {
  margin-left: 4em;
}

.manage.form.heading {
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumb {
  margin-left: 1.5em;
}

.breadcrumb .ms-Breadcrumb-itemLink,
.breadcrumb .ms-Breadcrumb-item {
  font-size: 14px !important;
  font-weight: 400;
}

.breadcrumb .ms-Link:hover {
  background-color: transparent !important;
}

.manage.form .graduationReadingInput {
  margin-top: 0.75em;
}

/* pages/knihovna/Book.js */

.book.container {
  margin: 0.5em;
  margin-left: 2em;
  display: grid;
  grid-template-columns: auto 1fr;
}

.book img {
  margin-top: 0.5em;
}

.book .info {
  margin-left: 1em;
}

.book .info p {
  padding-bottom: 0.25em;
}
.book .detail.annotation {
  line-height: 1.5em;
}

.book table {
  margin-top: 0.25em;
  border: 0;
}

.book table,
.book th,
.book td {
  border: 0;
}

.book th {
  opacity: 0.75;
  font-weight: 400;
}

.book td {
  padding-left: 2em;
}

/* pages/knihovna/Loans.js */

.ms-DetailsList {
  overflow-x: hidden;
}

.loans .search,
.projections .search {
  margin-top: 1em;
  width: 480px;
}

.loans .list,
.projections .list {
  width: 960px;
}

/* pages/Index.js */

.index .books {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.index .book {
  width: 127.5px;
  float: left;
  display: block;
  overflow: hidden;
}

.index .book:hover {
  cursor: pointer;
}

.index .book h1 {
  color: rgb(0, 120, 212);
  margin-top: 0.5em;
  font-weight: 400;
  font-size: 1em;
}

.index .book h1:hover {
  text-decoration: underline;
}

.index .book .author {
  font-size: 0.75em;
  opacity: 0.75;
}

/* pages/filmovy-klub/VirtualHall.js */

.cinema {
  margin-top: 2em;
  margin-left: 2em !important;
  height: 360px;
}

.cinema #videoplayer {
  background-color: black;
}

.cinema .player {
  width: 640px;
}

.cinema .player .controls {
  width: 640px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid rgb(237, 235, 233);
}

.cinema .player .slider {
  margin: 0 1em 0 1em;
}

.cinema .hall {
  display: grid;
  grid-template-columns: auto 1fr;
}

.cinema .chat {
  margin: 0 1em 0 1em;
  height: 394px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.cinema .chat .area {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  background-color: rgb(237, 235, 233, 0.25);
}

.cinema .chat #messages {
  list-style-type: none;
  padding-bottom: 1em;
}

.cinema .chat .message {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  padding: 1em 1em 0 1em;
  border-radius: 3px;
}

.cinema .chat .message .profilePicture {
  margin-right: 0.5em;
}

.cinema .chat .message .messageBody h1 {
  color: rgb(0, 120, 212);
  font-size: 12px;
}

.cinema .chat .message .messageText {
  margin-top: 0.25em;
  font-size: 14px;
  word-wrap: break-all;
}

.cinema .chat .message .messageBody {
  width: 100%;
  padding: 0.75em 1em 1em 1em;
  background-color: white;
}

.cinema .chat .message .messageHeading {
  display: flex;
  justify-content: space-between;
}

.cinema .chat .message .date {
  font-size: 12px;
  opacity: 0.75;
}

.cinema .chat .ms-TextField-fieldGroup {
  border: 0 !important;
}

.cinema .chat .messageInput {
  border: 1px solid rgb(237, 235, 233);
  height: 34px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.cinema .manage {
  width: 640px;
  border: 1px solid rgb(237, 235, 233);
  display: grid;
  grid-template-columns: 1fr auto;
}

.cinema .manage .ms-TextField-fieldGroup {
  border: 0;
}

.cinema .playing {
  border: 1px solid rgb(237, 235, 233);
  display: grid;
  grid-template-columns: auto 1fr;
}

.cinema .playing .poster {
  width: 80px;
  height: 120px;
  object-fit: cover;
}

.cinema .playing .info {
  padding: 1em;
}

.cinema .playing .about,
.cinema .watching .about {
  text-transform: uppercase;
  font-weight: 800;
  opacity: 0.5;
  font-size: 12px;
}

.cinema .playing .title {
  font-size: 24px;
}

.cinema .playing .description {
  font-size: 12px;
}

.cinema .playing .start {
  padding-top: 0.5em;
  opacity: 0.75;
  font-size: 12px;
}

.cinema .watching {
  margin: 1em 1em 1em 0;
  border: 1px solid rgb(237, 235, 233);
  padding: 0.5em;
}

.cinema .watching .ms-Facepile {
  margin-top: 0.5em;
}

.cinema .watching ul {
  display: flex;
  flex-wrap: wrap;
}

.cinema .chat .announcement {
  text-align: center;
  font-size: 11px;
  color: grey;
  padding: 0.5em;
}
